/* Navbar */
@media only screen and (min-width: 600px) {
    .navbarwidth{
        width: 45%;
    }
}

.logo{
    height: 2rem;
}

.navbar{
    height: 3rem;
}

/* animazione navbar */
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
/* fine animazione navbar */
/* fine Navbar */

/* header */
.bgheader{
    height: 100vh;
    background: url(/resources/imgcss/bgheader.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    position: relative;
    bottom: 10rem;
}

button{
    border: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 50px 5px rgba(255,255,255,0);
    box-shadow: 0px 10px 13px -7px #24515f, 0px 0px 50px 5px rgba(255,255,255,0);
}


.glass{
    background: #2e83ec4d;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(50px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}