/* Navbar */

.nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  background-color: transparent;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 450px;
}

.menu li {
  list-style: none;
  margin:10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.873);
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
/* fine Navbar */

/* header */
.bgheader{
  height: 100vh;
  background: url(/resources/imgcss/bgheader.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title{
  position: relative;
  bottom: 10rem;
}

button{
  border: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 50px 5px rgba(255,255,255,0);
  box-shadow: 0px 10px 13px -7px #24515f, 0px 0px 50px 5px rgba(255,255,255,0);
}


.glass{
  background: #36a5ff61;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(50px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.37);
}
/* fine header */

/* auth
.bgauth{
height: 100vh;
background: rgb(37,94,224);
background: linear-gradient(90deg, rgba(37,94,224,1) 0%, rgba(73,232,250,1) 100%);
} */

/* MAIN */
/* section1 */
.video-bg{
background: linear-gradient(90deg, rgba(37,94,224,0) 0%, rgba(0, 0, 0, 0.6) 0%), url(/resources/imgcss/video-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 23rem;
}
/* fine section1 */

/* section2 */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}



.card-carousel {
  --card-width: 80%;
  --card-max-width: 380px;
  --card-height: 500px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
/* fine section2 */


/* sezione3 */
a:hover {
  color: white;
}
h3 a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
  color: white;

}

a.effect-underline:hover:after {
  opacity: 1;
  color: white;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* fine sezione3 */

/* sezione4 */
.sezione3{
  margin-top: 5rem;
  background: url(/resources/imgcss/sezione3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}



/* fine sezione4 */


/* FINE MAIN */

/* FOOTER */
.footer #button{
	width:35px;
	height:35px;
	border: #3498EF 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3498EF 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3498EF;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
/* FINE FOOTER */



/* Animazione allo scroll dei componenti che appaiono da sotto, sopra, destra, sinistra */
.reveal {
position: relative;
opacity: 0;
}

.reveal.active {
opacity: 1;
}
.active.fade-bottom {
animation: fade-bottom 1s ease-in;
}
.active.fade-left {
animation: fade-left 1s ease-in;
}
.active.fade-right {
animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
0% {
  transform: translateY(50px);
  opacity: 0;
}
100% {
  transform: translateY(0);
  opacity: 1;
}
}
@keyframes fade-left {
0% {
  transform: translateX(-100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes fade-right {
0% {
  transform: translateX(100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}
/* Fine animazione allo scroll dei componenti che appaiono da sotto, sopra, destra, sinistra */







:root {

    font-size: 15px;

    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;

    /* Fonts */

    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;

    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;

    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/*
=======================
Setup
=======================
*/







.pspecial {
    font: var(--var-para);
    color: var(--var-soft-blue);
}




/* zonaRevisore */
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/* fine zonaRevisore */
.bg-login{
  background-color: 	l
  }

/* animazione comparsa pagina web */
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* animazione comparsa pagina web */







/* popup lavoraconnoi */
.glassbtn{
  background: #ffffff7d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  border:1px solid #ffffff7d;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#containerrichiestarevisore{
position: fixed;
bottom: 0px;
right: 0px;
}

.slide-out-bottom {
-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;

}

@-webkit-keyframes slide-out-bottom {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
100% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
  display: none;
}
}
@keyframes slide-out-bottom {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
100% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
  display: none;
}
}

.slide-in-bottom {
-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

@-webkit-keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes slide-in-bottom {
0% {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}

/* fine popup lavoraconnoi */


/* messaggi alert */
.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

/* fine messaggi alert */

.buttonturnback{
  box-shadow:none;
  -webkit-box-shadow: 0px 0px 0px 0px;
}

.card_custom{

  width: 50%;
  height: 50%;
}